<%- include("templates/header") %>

<% if (authenticated) { %>
    <h1>Welcome to Ruby's 2537 Assignment 1!</h1>

    <a class="btn btn-success rounded-pill px-3" href="/members">Members Area</a>
    <a class="btn btn-secondary rounded-pill px-3" href="/signout">Sign out</a>

  <% } else { %>
    <h1>Welcome to Ruby's 2537 Assignment 1!</h1>
    <a class="btn btn-primary rounded-pill px-3" href="/signup">Sign Up</a>
    <a class="btn btn-success rounded-pill px-3" href="/login">Log in</a>

  <% } %>
  <%- include("templates/footer") %>