
<%- include("templates/header") %>

<h1>Hello, <%=user %></h1>


<div class="row mb-3 text-center">
    <img class="col-md-4 themed-grid-col img-fluid" src='/socks.gif'></img>
    <img class="col-md-4 themed-grid-col img-fluid" src="/fluffy.jpg"></img>
    <img class="col-md-4 themed-grid-col img-fluid" src="/kitty-cat-sandwich.gif"></img>
</div>


<a class="btn btn-secondary rounded-pill px-3" href="/signout">Sign out</a>
        
<%- include("templates/footer") %>